body {
  font-family: 'Big Shoulders Display', 'Arial', 'cursive';
  font-family: 'Lexend Deca', sans-serif;
  background-color: #fff;
}

.container {
  min-width: 950px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.site-main {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.site_div {
  padding: 47px;
  width: 212px;
  background-color: #E28625;
  border-radius: 8px;
}

.suvs {
  background: #006971;
  border-radius: 8px;
}

.side_p {
  width: 212px;
  margin-bottom: 83px;
  font-family: Lexend Deca;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  /* or 167% */


  color: #FFFFFF;

  mix-blend-mode: normal;
  opacity: 0.75;
  margin-top: 25px;
}

.sedans {
  margin-top: 35px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  color: #F2F2F2;
}

.site_a {
  font-family: Lexend Deca;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #E28625;
  background: #F2F2F2;
  border-radius: 25px;
  width: 146px;
  height: 48px;
  padding: 11px 31.5px 12px 31.5px;
}

.site_a {
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: #F2F2F2;
}

.site_a:active {
  background-color: #E28625;
  color: #FFF;
}

.suvs_a:active {
  background-color: #006971;
  color: #FFF;
}

.suvs_a {
  color: #006971;
}

.laxury_a {
  background-color: #fff;
  color: #006971;
}

.laxury_a:active {
  background-color: #004140;
  color: #FFFFFF;

}

.laxury {
  background: #004140;
  border-radius: 0px 8px 8px 0px;
}